.container{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.blogPost{
    width: 70%;
    background-color: #fff;
}
.sidebar{
    width: 27%;
    background-color: #fff;
}